/* CSS Reset */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Calculator Style */

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
}